/pyCode/.idea
/javaCode/.metadata
/pyCode/dataMining/.idea
/pyCode/etl_dispatch/.idea
/pyCode/minicms/.idea
/pyCode/mysite/.idea
/pyCode/oldboy/.idea
/pyCode/xlh_data/.idea
/pyCode/dataMining/.idea
/pyCode/etl_dispatch/.idea
/pyCode/minicms/.idea
/pyCode/mysite/.idea
/pyCode/oldboy/.idea
/pyCode/pagesize/.idea
/pyCode/pc/.idea
/pyCode/scrapyFrame/.idea
/pyCode/test/.idea
/pyCode/jkxy/.idea
/pyCode/douban/.idea
/pyCode/logInputDatabase/.idea
/pyCode/novel/.idea
