<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div>
        <div class='' style="margin-left:100px;width: 350px;height:30px;position: relative;">
            <span style="position: absolute;left:-75px;top:10px;">用户名：</span>
            <input type="text" style="width: 320px;height:30px;padding-right: 30px">
            <span style="position: absolute;right:0px;top:10px;background-image: url(image/i_name.jpg);height: 16px;width: 16px;display: inline-block;"></span>
        </div>
        <div style="margin-left:100px;margin-top:10px;width: 350px;height:30px;position: relative;">
            <span style="position: absolute;left:-75px;top:10px;">密码：</span>
            <input type="text" style="width: 320px;height:30px;padding-right: 30px">
            <span style="position: absolute;right:0px;top:10px;background-image: url(image/i_pwd.jpg);height: 16px;width: 16px;display: inline-block;"></span>
        </div>
    </div>
</body>
</html>