<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分页操作</title>
    <link href="/static/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/testPage.css"/>
</head>
<body>
<div>
    <ul>
        {% for item in data%}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>
<div >
    <div aria-label="Page navigation">
        <div class="left">
            <ul class="pagination">
            {{ pageStr }}
            </ul>
        </div>
    </div>
    <select id='selid' onchange="onChangeFun(this)">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
<script>
     $(function(){
                var v = $.cookie('per_page_count', {'path': "/etl/testpage/"});
                $('#selid').select.val(v);
        });
    function onChangeFun(ths) {
        var selValue=$(ths).val();
        console.log(selValue);
        $.cookie('per_page_count',selValue,{'path':'/etl/testpage/'});
        location.reload();
    }
</script>
</body>
</html>