<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分页操作</title>
    <link href="/static/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/testPage.css"/>
</head>
<body>
<div>
    <ul>
        {% for item in data%}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>
<div >
    <div aria-label="Page navigation">
        <div class="left">
            <select class="jumpToPage" id='selid' onchange="onChangeFun(this);">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
            <ul class="pagination">
            {{ pageStr }}
            </ul>
        </div>
    </div>

</div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
<script>
     $(function(){
                var v_per_page_count= $.cookie('per_page_count');
                if (v_per_page_count){
                    $('#selid').val(v_per_page_count);
                }
        });
    function onChangeFun(ths){
        var selValue=$(ths).val();
        $.cookie('per_page_count',selValue,{expires: 7,path: '/' });
        console.log($.cookie('per_page_count'));
        location.reload();
    }
</script>
</body>
</html>