<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库信息查询</title>
    <link rel="stylesheet" type="text/css" href="/static/plugin/jquery-easyui-1.5.1/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/static/plugin/jquery-easyui-1.5.1/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/static/plugin/jquery-easyui-1.5.1/demo/demo.css">
	<script type="text/javascript" src="/static/plugin/jquery-easyui-1.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/plugin/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north',border:false" style="height:15%;">
            <div class="easyui-panel" title="查询条件" data-options="region:'north'" style="height:100%;">
                <form>
                    <div style="margin:10px 10px 10px 10px;height:30%;width: 95%">
                            <label>开始时间：</label><input class="easyui-textbox" data-options="prompt:'输入作业编号或者名称'" style="width:20%;height:35px">
                            <label>结束时间：</label><input class="easyui-textbox" style="width:20%;height:35px">
                            <label>作业名称/id：</label><input class="easyui-textbox" style="width:20%;height:35px">
                    </div>
                    <div style="margin:20px 10px 0px 10px;height:30%;width: 95%">
                            <span>开发人：</span><input class="easyui-textbox" data-options="prompt:'输入作业编号或者名称'" style="width:20%;height:35px">
                            <span>作业状态：</span><input class="easyui-textbox" style="width:20%;height:35px">
                            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" style="width:20%;height:35px">查询</a>
                    </div>
                </form>
            </div>
    </div>
	<div data-options="region:'center',title:'查询结果'" style="height: 85%">
            <table class="easyui-datagrid"  style="width:100%;height:100%"
                    data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'">
                    <thead>
                            <tr>
                                <th data-options="field:'domainname',width:160">域名</th>
                                <th data-options="field:'tableschema',width:160">数据库名称</th>
                                <th data-options="field:'tablename',width:160">表英文名</th>
                                <th data-options="field:'tabledesc',width:160">表中文名称/th>
                                <th data-options="field:'columnname',width:160">字段英文名</th>
                                <th data-options="field:'columndesc',width:160">字段中文名</th>
                                <th data-options="field:'datatype',width:160">数据类型</th>
                                <th data-options="field:'columntype',width:160">列类型</th>
                            </tr>
                    </thead>
                    {% for item in data %}
                            <tr>
                                <td>{{item.domainname}}</td>
                                <td>{{item.tableschema}}</td>
                                <td>{{item.tablename}}</td>
                                <td>{{item.tabledesc}}</td>
                                <td>{{item.columnname}}</td>
                                <td>{{item.columndesc}}</td>
                                <td>{{item.datatype}}</td>
                                <td>{{item.columntype}}</td>
                            </tr>
                    {% endfor %}
            </table>
    </div>
</body>
</html>